@model List<UserRolesViewModel>

@{
    ViewData["Title"] = "Uživatelé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="adminCSS">
    <div class="container services" style="width: auto;">
        <h1>@ViewData["Title"]</h1>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="mb-0 text-center">User List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Jméno</th>
                                        <th>Příjmení</th>
                                        <th>Email</th>
                                        <th>Tel. číslo</th>
                                        <th>Role</th>
                                        <th class="text-center">Akce</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@user.Name</td>
                                            <td>@user.LastName</td>
                                            <td>@user.Email</td>
                                            <td>@user.TelephoneNumber</td>
                                            <td>@string.Join(", ", user.Roles.ToList())</td>
                                            <td class="text-center">
                                                <a class="btn btn-primary" asp-controller="Admin" asp-action="Manage" asp-route-userId="@user.UserId">Spravovat</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
