@model List<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Upravit role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="webSectionCSS">
    <form method="post">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
            <div class="row pt-4">
                <div class="col-md-8 col-lg-6 mb-3">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].Selected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].Selected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
        <div class="text-center text-sm-between px-3">
            <button type="submit" class="btn btn-primary" style="width:200px">Upravit</button>
            <a asp-controller="Admin" asp-action="IndexUserRole" class="btn btn-secondary btn-outline-primary" style="width:200px">
                Zpět
            </a>
        </div>
    </form>

</section>