@using ProjectInsurance.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PojisteniApp</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap" asp-append-version="true">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap" asp-append-version="true">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie" asp-append-version="true">
	<link rel="stylesheet" href="~/fonts/font-awesome.min.css" asp-append-version="true">
	<link rel="stylesheet" href="~/fonts/ionicons.min.css" asp-append-version="true">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Navbar-case.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Profile-Edit-Form.css" asp-append-version="true" />
</head>


<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-black text-uppercase fw-bolder">
			<div class="container">
				<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
					<span class="visually-hidden">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav flex-grow-1 justify-content-start">
						<li class="nav-item logo">
							<a asp-controller="Home" asp-action="Index">
								<i class="icon ion-cube cube logo" style="font-size: 35px;"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="AplicationInfo">O aplikaci</a>
						</li>

						@if (User.Identity.IsAuthenticated)

						{
							<li class="nav-item small-screen-nav">
								<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Osobní údaje</a>
							</li>

							<li class="nav-item small-screen-nav">
								<a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Změna hesla</a>
							</li>

							<li class="nav-item small-screen-nav">
								<a class="nav-link" asp-controller="User" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Pojištěnci</a>
							</li>

							<li class="nav-item small-screen-nav">
								<a class="nav-link" asp-controller="InsuranceEventModels" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Události</a>
							</li>
						}

					</ul>
					<partial name="_LoginPartial" />
				</div>
		</nav>
	</header>



	<main class="flex-grow-1">

		@RenderBody()
	</main>


	<footer>
		<div class="row">
			<div class="col-sm-6 col-md-4 footer-navigation">
				<h3>
					<a asp-area="" asp-controller="Home" asp-action="Index">Adobias<span class="text-primary">W.E.B</span></a>
				</h3>
				<p class="links">
					@if (User.IsInRole("Administrator"))
					{
						<a asp-area="" asp-controller="Admin" asp-action="Index">Uživatele</a>
						<strong>·</strong>
						<a asp-area="" asp-controller="Admin" asp-action="IndexRole">Role</a>
						<strong>·</strong>
						<a asp-area="" asp-controller="Admin" asp-action="CreateRole">Přidat Roli</a>
						<strong>·</strong>
						<a asp-area="" asp-controller="Admin" asp-action="IndexUserRole">Role uživatelu</a>
					}

					@if (User.IsInRole("User"))
					{
						<strong>·</strong>
						<a asp-controller="User" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Moji Pojištěnci</a>
						<strong>·</strong>
						<a asp-controller="InsuranceEventModels" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">Moje Udalosti</a>
					}

					<strong>·</strong>
					<a asp-area="" asp-controller="Home" asp-action="AplicationInfo">&nbsp;O Aplikaci</a>
				</p>
				<p class="company-name">Dobias W.E.B © 2023</p>
			</div>
			<div class="col-sm-6 col-md-4 footer-contacts">
				<div>
					<span class="fa fa-map-marker footer-contacts-icon"> </span>
					<p><span class="new-line-span">Revoluční 50</span> Prague, Czech Republic</p>
				</div>
				<div>
					<i class="fa fa-phone footer-contacts-icon"></i>
					<p class="footer-center-info email text-start">000 000 000</p>
				</div>
				<div>
					<i class="fa fa-envelope footer-contacts-icon"></i>
					<p class="fs-6"><a href="#" target="_blank">Pojistění@info.com</a></p>
				</div>
			</div>
			<div class="col-md-4 footer-about">
				<h4>Informace o firmě</h4>
				<p>
					Jsme firma, která se věnuje k pojištění aut, majetku, odpovědnosti, cestovní, mazličku, havarijní a
					snažíme se vyhovět zákazníkovi
				</p>
				<div class="social-links social-icons">
					<a href="#"><i class="fa fa-group"></i></a><a href="#">
						<i class="fa fa-phone-square"></i>
					</a><a href="#"><i class="fa fa-envelope"></i></a><a href="#"><i class="fa fa-wrench"></i></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/agency.js"></script>
	<script src="~/js/smart-forms.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
